*{
	margin:0;
	padding:0;
}

img{
	width: 100%;
}

body{
	background-color: #ddd;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif, Roboto Slab;
	margin:50px;
}

/* Header */
.header{
	display:grid;
	grid-template-areas:
		'hero hero feature-1'
		'hero hero feature-2';
}

.container{
	display: grid;
	gap:10px;
}

.hero{
	grid-area :hero;
	min-height: 300px;
	background-image: url(img/2.jpg);
	background-size: cover;
	background-position: center;
	padding: 50px;
}

.feature .price{
	font-size: 2em;
	font-weight: 200;
}
.feature{
	background-color: #000;
	color:white;
	display:grid;
	/*justify-content: center;
	align-content: center;*/
	place-content:center;
	text-align: center;
	cursor:pointer;
}

.feature-1{
	grid-area:feature-1;
	background-image: url(img/3.jpg);
	background-size :cover;
	background-position: center;
}

.feature-2{
	grid-area:feature-2;
	background-image: url(img/1.jpg);
	background-size :cover;
	background-position: center;
}

/* Navigasi */
.menu{
	order:-1;
	display:grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.menu .brand{
	font-size:1.3em; 
	color:#333;
}

.menu ul{
	display: grid;
	list-style: none;
	grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
	gap:5px;
	text-transform: upercase;
	font-size: 0.9em;
}

.menu li{
	display:block;
	background-color:#000;
	color:white;
	text-decoration: none;
	text-align: center;
	padding:5px;
}


/*Services*/
.services{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap:20px;
}

.service{
	background-color: white;
	padding:15px;
	text-align: center;
	border : 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,0.5)
}

.service h3{
	font-size: 1.2em;
}

.service p{
	font-weight:200;
	font-size: 0.8;
}

/*Galeri*/
.galeri{
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap:5px;
}

.galeri h2{
	/*grid-row-start: 1;
	grid-row-end: -1;*/
	grid-column: 1/-1;
	text-align: center;
	margin-bottom: 50px;
}
/* Responsive */
@media (max-width: 1024px){
	.menu{
		order:inherit;
		grid-template-columns: 1fr;
	}
	.menu .brand{
		display: none;
	}
}

@media (max-width: 600){
	body{
		margin:15px;
	}
	.header{
	    grid-template-areas:
		    'hero hero'
		    'feature-1 feature-2';
	}
}
